
<div class="product-item bg-light">
  <div class="card">
      <div class="thumb-content">
          <a href="">
              <img class="card-img-top img-fluid" src="assets/images/products/products-1.jpg" style="height:300px;width:300px;"
                  alt="Card image cap">
          </a>
      </div>
      <div class="card-body">
          <h4 class="card-title">{{X.Macbookair}}</h4>
          <ul class="list-inline product-meta">
              <li class="list-inline-item">
                  <a><i class="fa fa-folder-open-o"></i>{{X.Electronics}}</a>
              </li>
              <li class="list-inline-item">
                  <a><i class="fa fa-calendar"></i>{{X.December26th}}</a>
              </li>
          </ul>
          <p class="card-text"></p>
          <div class="product-ratings">
              <ul class="list-inline">
                  <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                  <li class="list-inline-item"><i class="fa fa-star"></i></li>
              </ul>
          </div>
      </div>
  </div>
</div>
