<app-banner title="Team Information"></app-banner>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-next-match">
              <div class="widget-title">
                <h3>{{team.name}} Team</h3>
              </div>
            
        
              <div class="text-center widget-vs-contents mb-4">
                <h4>MR {{team.owner}}</h4>
                <p class="mb-5">
                  <span class="d-block">{{team.country}}</span>
                  
                  <strong class="text-primary">{{team.stadium}}</strong>
                </p>
        
                <div id="date-countdown2" class="pb-1"></div>
              </div>
            </div>
          </div>
        

    </div>
</div>
