<div class="widget dashboard-container my-adslist">
	<table class="table table-responsive product-dashboard-table">
		<thead>
			<tr>
				<th>Images</th>
				<th>ID</th>
				<th class="text-center">First Name</th>
				<th class="text-center">Last Name</th>
				<th class="text-center">Email</th>
				<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let elt of users" style="width:100px; height: 100px;">

				<td class="product-thumb">
					<img width="80px" height="auto" src={{elt.avatar}} >
				</td>
				<td class="text-center">{{elt.id}}</td>
                <td class="text-center">{{elt.firstName}}</td>
                <td class="text-center">{{elt.lastName}}</td>
                <td class="text-center">{{elt.email}}</td>
				<td>
					<button type="button" class="btn btn-success" (click)="goToDisplay(elt._id)">Display</button>
					<button type="button" class="btn btn-danger" (click)="goToDelete(elt._id)">Delete</button>
				  </td>
			</tr>
		</tbody>
	</table>

</div>
