
<table class="table">
    <tr>
       <th>ID</th> 
       <th>First Name</th> 
       <th>Last Name</th> 
       <th>Email</th> 
       <th>Action</th> 
    </tr>
    <tr *ngFor="let elt of users">
        <td >{{elt.id}}</td>
        <td >{{elt.firstName}}</td>
        <td >{{elt.lastName}}</td>
        <td >{{elt.email}}</td>
        <td>
            <button class="btn btn-success" (click)="goToProfile(elt.id)">Display</button>
            <button class="btn btn-warning" >Edit</button>
            <button class="btn btn-danger"  >Delete</button>
        </td>
        
    </tr>
</table>